@import "../lib/node_modules/tether/dist/css/tether.min.css";
@import "../lib/node_modules/bootstrap/scss/bootstrap.scss";

$blackish: #433A3F;
$whiteish: #ECE8EF;
$darkaccent: #878AB3;
$brightaccent: #F16481;
$highlight: #FFD788;
// $navbar-bg: #EAFFDA;
// $navbar-text: #89023E;

body {
  background-color: $highlight;
}

#pageWrapper {
  background-color: $darkaccent;
  height: 100vh;
  overflow: scroll;
}

nav {
  background-color: $brightaccent;
  a {
  color: $blackish;
  }
}

.card {
  background-color: $whiteish;
}

.isHidden {
  display: none;
}

#loginBtn {
    width: 200px;
    height: 100px;
}

.loginContainer {
    margin-top: 200px;
}

.single-pin-view {
	width: 80%;
	height: 90vh;
	background-repeat: no-repeat;
	background-size: cover;
}

.btn-primary {
  background-color: $brightaccent;
}

.disabled {
  pointer-events: none;
}

.board-card {
  width: 18rem;
  height: 150px;
  margin: 20px 10px;
}