<div class="row">

	<div class="col-4">
		<div class="card" style="width: 20rem;">
			<a href="#!/board/:{{board id}}">
		  	<img class="card-img-top" src="{{will need pins/url???}}" alt="first {{title}} image">
		  	<div class="card-block">
		    	<h4 class="card-title">{{title}}</h4>
		  	</div>
		</div> <!--card-->
	</div> <!--col-4-->

	<div>
		<div class="col-4">
			<div class="card" style="width: 20rem;">
				<a href="#!/board/:{{board id}}">
		  		<img class="card-img-top" src="{{will need pins/url???}}" alt="first {{title}} image">
		  		<div class="card-block">
		    		<h4 class="card-title">{{title}}</h4>
		  		</div>
			</div> <!--card-->
		</div> <!--col-4-->
	</div> <!--ng-repeat-->

</div>