<div ng-include="'templates/navbar.html'"></div>

<div class="row">
	<!-- add new board link -->
	<div class="col-4" ng-show="!showDiv" ng-click="showDiv = !showDiv">
		<div class="card card-block col-12">
			<a href="#!/board/all" class=" btn btn-primary">
		  	<img class="card-img-top col-12" src="./images/BigPlus.png">
	    	<h4 class="card-title">Add Board</h4>
    	</a>
  	</div>
	</div> <!--card-->

	<!-- add new board form -->
	<div class="col-4" ng-show="showDiv">
		<div class="card card-block col-12 h-100">
			<div class="form-group">
				<label for="boardTitleInput">New Board Name:</label>
	  		<input id="boardTitleInput" type="text" class="card-title form-control" ng-model="newBoard.title">
	  		<button class="btn btn-primary" ng-click="addBoard(); showDiv = !showDiv">Add Board</button>
  		</div>
		</div>
	</div> <!--card-->

	<!-- board display/links to single boards -->
		<div class="col-4" ng-repeat="board in boards">
			<div class="card col-12 h-100">
				<a href="#!/board/{{board.id}}">
		  		<div class="card-block">
		        <img class="card-img-top col-12" src="" alt="Board Cover Image">
		    		<h4 class="card-title capitalize">{{board.title}}</h4>
		  		</div>
		  	</a>
	  	</div>
		</div> <!--card-->

</div> <!-- row -->