<div class="row">

	<!-- add new board link -->
	<div class="col-sm-4">
		<div class="card" style="width: 15rem;" ng-click="">
	  	<h1>✚</h1>
	  	<div class="card-block">
	    	<h4 class="card-title">Add Board</h4>
	  	</div>
		</div> <!--card-->
	</div> <!--col-4-->


	<!-- add new board form -->
	<div class="col-sm-4">
		<div class="card" style="width: 15rem;">
		  	<div class="card-block">
		    	<input type="text" class="card-title">
		    	<button ng-click="">Add Card</button>
		  	</div>
		</div> <!--card-->
	</div> <!--col-4-->

	<!-- board display/links to single boards -->
	<div ng-repeat="board in boards">
		<div class="col-sm-4">
			<div class="card" style="width: 15rem;">
				<a href="#!/board/:{{board.id}}">
		  		<div class="card-block">
		    		<h4 class="card-title">{{board.title}}</h4>
		  		</div>
		  	</a>
			</div> <!--card-->
		</div> <!--col-4-->
	</div> <!--ng-repeat-->

</div>