  <nav class="nav" ng-controller="NavController">
    <a class="nav-link"> <img src="" id="logo"> </a>
    <a class="nav-link" href="#" id="boards-link">Boards</a>
    <a class="nav-link" href="#" id="add-pin-link">Add Pin</a>
    <!-- bootstrap note- to disable a link just add the "disabled" class as below -->
    <!-- <a class="nav-link disabled" href="#">Boards</a> -->
    <a class="nav-link" href="#" id="login-link">Login</a>
    <a class="nav-link" href="#" id="logout-link" ng-click="logout()">Logout</a>
  </nav>