<div ng-include="'templates/navbar.html'"></div>
<div class="row justify-content-center">
<form class="col-8">
    <h1>{{PageTitle}}</h1>
    <div class="form-group">
        <label for="urlInput">Image URL:
            <input type="text" id="urlInput" class="form-control" placeholder="Insert URL" ng-model="pin.url">
        </label>
    </div>
    <div class="form-group">
        <label for="boardSelect">Pick a board:
            <select id="boardSelect" ng-options="board.id as board.title for board in boards" ng-model="pin.board_id">
        </select>
     </label>
    </div>
    <div class="form-group">
        <label for="titleInput">Pin Title:
            <input type="text" id="titleInput" class="form-control" ng-model="pin.title">
        </label>
    </div>
    <button class="btn btn-default" ng-click="savePin()">Pin It!</button>
</form>
</div>